<div class="container">

<div class='col-sm-2 search'>
  <div class='search_boxes'>
    <h3>SEARCH</h3>
  <%= form_tag(properties_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :price_value, params[:search], placeholder: "Max Price" %>
    <%= text_field_tag :bedrooms, params[:search], placeholder: "Bedrooms" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
</div>

<div class='col-sm-5 results'>
  <h3>Results found: <%= @search_results.count%></h3>
  <%= render 'property_list'%>
</div>

<div class='col-sm-5 property_viewer'>
  <h3>Full Property Description</h3>
</div>

</div>
